.container span{
    color: #BFCBDA;
    font-family: 'Bebas Neue', cursiva;
    font-weight: 600;
    font-size: 3.5rem;
}

.container text{
    color: #BFCBDA;
    font-family: 'Bebas Neue', cursiva;
    font-size: 2rem;
}

.container hr{
    background: gray;
    border: 0px;
    height: 0.1rem;
}